<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="heading">{{msg}}</h1>
        <div class="container">
  <div class="row">
    <div class="col-sm">
    <img src="https://media.giphy.com/media/NQnxk7h2og1mE/giphy.gif" alt="Clowns GIF" style="padding: 8px; width: 170px; height: 170px; left: 0px; top: 0px; opacity: 1;">

      {{!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe
          src="https://giphy.com/embed/NQnxk7h2og1mE" width="100%" height="100%" style="position:absolute"
          frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div> --}}
      {{!-- <p><a href="https://giphy.com/gifs/clowns-NQnxk7h2og1mE"></a></p> --}}
    {{!-- </div>
    <div class="col-sm"> --}}
      <img src="https://media.giphy.com/media/Gagz0UnhS7igg/giphy.gif" alt="Happy Clown GIF" style="padding: 8px; width: 170px; height: 170px; left: 0px; top: 0px; opacity: 1;">
      {{!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe
          src="https://giphy.com/embed/Gagz0UnhS7igg" width="100%" height="100%" style="position:absolute"
          frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
      <p><a href="https://giphy.com/gifs/happy-fj-Gagz0UnhS7igg"></a></p> --}}
    {{!-- </div>
    <div class="col-sm"> --}}

      <img src="https://media.giphy.com/media/96rdXbLHNq4V2/giphy.gif" alt="Clown It Is 2015 GIF" style="padding: 8px; width: 170px; height: 170px; left: 0px; top: 0px; opacity: 1;">
      {{!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe
          src="https://giphy.com/embed/96rdXbLHNq4V2" width="100%" height="100%" style="position:absolute"
          frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
      <p><a href="https://giphy.com/gifs/colin-raff-zbags-96rdXbLHNq4V2"></a></p> --}}
    {{!-- </div>
    <div class="col-sm"> --}}

      <img src="https://media.giphy.com/media/13hvrwgABc7aF2/giphy.gif" alt="80S Dark GIF" style="padding: 8px; width: 170px; height: 170px; left: 0px; top: 0px; opacity: 1;">
      {{!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe
          src="https://giphy.com/embed/13hvrwgABc7aF2" width="100%" height="100%" style="position:absolute"
          frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
      <p><a href="https://giphy.com/gifs/80s-creepy-clown-13hvrwgABc7aF2"></a></p> --}}
    {{!-- </div>
    <div class="col-sm"> --}}

      <img src="https://media2.giphy.com/media/dP5azUeSrQILu/giphy.gif" alt="Halloween Clown GIF" style="padding: 8px; width: 170px; height: 170px; left: 0px; top: 0px; opacity: 1;">
      {{!-- <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe
          src="https://giphy.com/embed/dP5azUeSrQILu" width="100%" height="100%" style="position:absolute"
          frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
      <p><a href="https://giphy.com/gifs/creepy-halloween-scary-dP5azUeSrQILu"></a></p> --}}
    </div>
  </div>
</div>
        <div class="animation-body">
        <h2 class="buyNotDie">Let's buy and not die!!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="row">
        <div class="col-md-4">
          <h2>  <a href="gear">GeaR</a></h2>
        
          <img class="img-responsive img armor">
        <table class="table table-striped">
  {{!-- <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">TypE</th>
      <th scope="col">QtY</th>
      
      <th scope="col"></th>
    </tr>
  </thead> --}}
  {{!-- <tbody> --}}
    {{!-- buttons can be accessed by class gear-1, gear-2, ect --}}
    {{!-- <tr>

      <th scope="row gear-table">1</th>
      <td>{{this.text}}</td>
      <td></td>
      <td><button type="button gear-1" class="btn btn-danger">BuY</button></td>

    </tr> --}}
    {{!-- <tr>
      <th scope="row">2</th>
      <td>Braided Rope</td>
      <td>12</td>
      <td><button type="button gear-2" class="btn btn-danger">BuY</button></td>
    </tr> --}}
    {{!-- <tr>
      <th scope="row">3</th>
      <td>Flashlight</td>
      <td>83</td>
      <td><button type="button gear-3" class="btn btn-danger">BuY</button></td>
    </tr> --}}

  {{!-- </tbody> --}}
</table>
</div>
        <div class="col-md-4">
          <h2>  <a href="food">FooD</a></h2>
          <img class="img-responsive img food">
                <table class="table table-striped">
  <thead>
    {{!-- <tr>
      <th scope="col">#</th>
      <th scope="col">TypE</th>
      <th scope="col">QtY</th>
      <th scope="col"></th>
    </tr> --}}
  </thead>
  <tbody>

    {{!-- buttons can be accessed by class food-1, food-2, ect --}}
    {{!-- <tr>
      <th scope="row food-table">1</th>
      <td>1lb Beef Jerky</td>
      <td>82</td>
      <td><button type="button food-1" class="btn btn-danger">BuY</button></td>
    </tr> --}}
    {{!-- <tr>
      <th scope="row">2</th>
      <td>Sack of Potatos</td>
      <td>63</td>
      <td><button type="button food-2" class="btn btn-danger">BuY</button></td>

    </tr>
    {{/each}}
    <tr>

      <th scope="row">3</th>
      <td>Energy Bar</td>
      <td>98</td>
      <td><button type="button food-3" class="btn btn-danger">BuY</button></td>
    </tr> --}}

  </tbody>
</table>
        </div>
        <div class="col-md-4">
          <h2>  <a href="weapons">WeaponS</a></h2>
          <img class="img-responsive img weapons">
                <table class="table table-striped">
  <thead>
    {{!-- <tr>
      <th scope="col">#</th>
      <th scope="col">TypE</th>
      <th scope="col">QtY</th>
      <th scope="col"></th>
    </tr> --}}
  </thead>
  <tbody>

    {{!-- buttons can be accessed by class weapons-1, weapons-2, ect --}}
    {{!-- <tr>
      <th scope="row weapons-table">1</th>
      <td>Crossbow</td>
      <td>15</td>
      <td><button type="button weapons-1" class="btn btn-danger">BuY</button> </td>
    </tr>

    <tr>
      <th scope="row gear-table">1</th>
      <td>{{this.name}}</td>
      <td></td>
      <td><button type="button gear-1" class="btn btn-danger">BuY</button></td>
    </tr>
    {{/each}}
    <tr>

      <th scope="row">3</th>
      <td>Dartgun</td>
      <td>83</td>
      <td><button type="button weapons-3" class="btn btn-danger">BuY</button></td>
    </tr> --}}

  </tbody>
</table>
        </div>
        </div>
          </div>
          {{!-- <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button> --}}
        </form>


       

        <div class="col-10 offset-1">
          <h2 class="survival">"We do survivaL"</h2>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button"class="btn btn-secondary btn-lg-danger"><a href="clowns/new">Add an iteM</a></button>

 <audio autoplay>
  <source src="https://carlakroll.com/clown/bensound-creepy.mp3" type="audio/mpeg" type="audio/mpeg">
  Your browser does not support this audio format.
</audio>

<iframe src="https://carlakroll.com/clown/bensound-creepy.mp3" allow="autoplay" style="display:none" id="iframeAudio">
</iframe> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

